<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Park_and_Company.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="cust1"/>
    <add key="Password" value="test12345"/>
    <add key="Website" value="http://newcust3.stage.bhengage.com/"/>
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2"/>
  </appSettings>
  <applicationSettings>
    <Park_and_Company.Properties.Settings>
      <setting name="ClaimDataGrid" serializeAs="String">
        <value>//div[@class='k-grid-content']</value>
      </setting>
      <setting name="UserGroupGrid" serializeAs="String">
        <value>//div[@id='UserGroupsGrid']</value>
      </setting>
      <setting name="AllUserGrid" serializeAs="String">
        <value>//div[@id='allUsersGrid']</value>
      </setting>
      <setting name="ManageRolesGrid" serializeAs="String">
        <value>//div[@id='RolesGrid']</value>
      </setting>
      <setting name="PartenrGrpGrid" serializeAs="String">
        <value>//div[@id='PartnerGroupsGrid']</value>
      </setting>
    </Park_and_Company.Properties.Settings>
  </applicationSettings>
</configuration>