<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="cust1"/>
    <add key="Password" value="test12345"/>
    <add key="Website" value="http://newcust1stage.bes.stage.bhengage.com/"/>
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2"/>
  </appSettings>
</configuration>